body {
  margin: 0;
  text-align: center;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: rgba(55, 55, 55, 0.4);
}

.nav-bar ul {
  list-style: none;
  display: flex;
}

.nav-bar ul li {
  padding-left: 3rem;
}

.nav-link {
  font-size: 1.5rem;
  text-decoration: none;
  color: #bbb;
}

.nav-link:hover {
  color: #ddd;
}

.logo {
  height: 4rem;
}

.field:focus {
  outline: 1px solid #ccc;
}

.loading {
  color: #ccc;
  font-size: 2vw;
}

.message {
  color: #ccc;
}

.required {
  color: #ff0048;
}

.error {
  color: #d91f54;
}

.success {
  color: #5dd68b;
}