.form-container {
    max-width: 25vw;
    margin: 0 auto;
}

.form-title {
    text-align: center;
}

.login-form,
.register-form,
.rating-form,
.game-form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

.field {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.field:focus {
    outline: 1px solid #ccc;
}

.custom-select {
    position: relative;
    max-width: 100%;
}

.score-display {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.select-options {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 4px;
}

.option {
    width: 0.8vw;
    cursor: pointer;
    padding: 10px;
}

.option:hover {
    background-color: #444;
}

.process {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.process:hover {
    color: #eee;
    background-color: #45a049;
}

.guest-login {
    margin-top: 10px;
}