.back-link {
    text-decoration: none;
    font-size: 60px;
    color: #bbb;
    position: absolute;
    top: 75px;
    left: 30px;
    transition: transform 0.5s ease;
}

.back-link:hover {
    transform: scale(1.4);
    color: #ddd;
}

.details-title {
    display: inline-block;
    margin: 5px 0;
    font-size: 2.5vw;
    transition: transform 0.5s ease;
}

.details-title:hover {
    transform: scale(1.1);
}

.site {
    text-decoration: none;
    color: #bbb;
    transition: all 0.5s ease;
}

.site:hover {
    color: #ddd;
}

.details-image {
    display: block;
    margin: 0 auto;
    width: 20%;
    height: 225px;
    object-fit: cover;
    object-position: top;
    border-radius: 3px;
}

.details-form {
    margin: 10px auto;
    width: 20%;
}

.ratings-container {
    max-height: 300px;
    /* Set a maximum height for the container */
    overflow-y: auto;
    /* Enable vertical scrolling when content exceeds the height */
    margin-top: 10px;
}

.rating-list {
    list-style: none;
    text-align: center;
    padding: 0;
}

.rating-list li {
    margin: 0 auto;
}

@media only screen and (max-width: 767px) {
    .back-link {
        position: fixed;
        display: block;
        font-size: 35px;
        top: 50px;
        left: 10px;
    }

    .details-title {
        font-size: 22px;
        padding: 0 50px;
    }

    .details-image {
        width: 60vw;
        height: 20vh;
    }

    .details-form {
        width: 60vw;
    }

    .rating-list li {
        font-size: 18px;
    }
}