.back-link {
    text-decoration: none;
    font-size: 40px;
    color: #bbb;
    position: absolute;
    top: 75px;
    left: 30px;
    transition: transform 0.5s ease;
}

.back-link:hover {
    transform: scale(1.4);
    color: #ddd;
}

.site {
    text-decoration: none;
    color: #bbb;
}

.details-title {
    width: 50%;
    margin: 5px auto;
    font-size: 2.5vw;
    transition: transform 0.5s ease;
}

.details-title:hover {
    transform: scale(1.1);
    color: #ddd;
}

.details-image {
    width: 300px;
    height: 200px;
    object-fit: cover;
    object-position: top;
    border-radius: 3px;
}

.rating-list {
    list-style: none;
    text-align: center;
    padding: 0;
}

.rating-list li {
    margin: 5px 0;
}

@media only screen and (max-width: 767px) {
    .back-link {
        font-size: 35px;
        top: 60px;
        left: 20px;
    }

    .details-title {
        font-size: 22px;
    }

    .details-image {
        width: 60vw;
        height: 20vh;
    }

    .rating-list li {
        font-size: 18px;
    }
}