.request-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 5px;
}

.request-container {
    border: 1px solid #eee;
    border-radius: 3px;
    overflow: hidden;
    margin: 10px 0;
    width: 15%;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    transition: transform 0.4s ease;
}

/* .request-container:hover {
    transform: scale(1.12);
} */

.request-title {
    margin: 5px 2px;
    font-size: 1.25vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.request-link {
    line-height: 0;
}

.request-image {
    width: 100%;
    height: 200px;
    margin-top: auto;
    object-fit: cover;
    border-radius: 3px;
}

.approve {
    background-color: #4caf50;
    color: #fff;
}

.approve:hover {
    background-color: #45a049;
    color: #eee;
}

.deny {
    background-color: #ff0048;
    color: #fff;
}

.deny:hover {
    background-color: #d91f54;
    color: #eee;
}

.approve,
.deny {
    width: 50%;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 4px;
}

.disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

@media only screen and (max-width: 767px) {
    .request-container {
        margin: 7px 0;
        width: 45%;
    }

    .request-title {
        font-size: 16px;
    }

    .request-image {
        height: 125px;
    }
}