body {
  margin: 0;
  text-align: center;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: rgba(55, 55, 55, 0.4);
}

.nav-bar ul {
  list-style: none;
  display: flex;
}

.nav-bar ul li {
  padding-left: 3rem;
}

.link {
  font-size: 1.5rem;
  text-decoration: none;
  color: #dd47af;
}

.logo {
  height: 4rem;
}

.game-box {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.game-box li {
  text-align: center;
}

.game-box a {
  color: #fff;
  text-decoration: none;
}

.game-box a:hover {
  color: #999;
}

.game-image {
  border: 2px solid #ccc;
  border-radius: 20px;
  width: 250px;
}

/* Forms */
.form-container {
  max-width: 400px;
  /* Adjust the max-width based on your design */
  margin: 0 auto;
}

.form-title {
  text-align: center;
}

.login-form,
.register-form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}

.field {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.process {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.process:hover {
  color: #eee;
  background-color: #45a049;
}

.guest-login {
  margin-top: 10px;
}

.field:focus {
  outline: 1px solid #ccc;
}

.message {
  color: #ccc;
}

.required {
  color: #ff0048;
}

.error {
  color: #d91f54;
}

.success {
  color: #5dd68b;
}